{% extends ['::base.html.twig', 'CanalTPSamCoreBundle::base.html.twig'] %}

{% block left_menu -%}
    {% include 'CanalTPSamEcoreSecurityBundle:Role:common_menu.html.twig' %}
{% endblock %}

{% block breadcrumb %}
    {{ parent() }}
    <li class="current">
        <a href="{{ path('sam_role') }}">
            {{'sam.breadcrumb_role'|trans}}
        </a>
    </li>
    <li class="current">
        <a href="{{ path('sam_role_new' ) }}">
            {{'sam.breadcrumb_role.add'|trans}}
        </a>
    </li>
{% endblock %}

{% block main_content %}
    <h1>{{ 'role.new.title'|trans }}</h1>
    <hr/>

    {{ form_start(form, {attr: {novalidate: 'novalidate'}, 'style': 'horizontal' }) }}
        {{ form_row(form.role.name) }}
        {{ form_row(form.applications) }}

        <ul class="list-unstyled">
        {% for roles in form.rolesByApplication %}
            <li>
                {{ form_widget(roles) }}
            </li>
        {% endfor %}
        </ul>

        <hr/>
        <div class="row">
            <div class="col-lg-offset-2 col-lg-10">
                <button class="btn btn-success" type="submit">
                    <span class="glyphicon glyphicon-pencil"></span> {{'ctp_core.add.short'|trans({}, 'messages')}}
                </button>
            </div>
        </div>
    {{ form_end(form) }}
{% endblock %}
